body {
    font-family: 'Inter', sans-serif;
    background-color: #C8E4FC;
    color: black;
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/*
-----------HEADER -----------
 */

header {
    color: black;
    text-align: center;
}

header .nav-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 20px;
    border: 1px solid black;
}

.nav-list a:hover {
    color: white;
    font-size: 1.2rem;
}

.headers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 200px;
    font-size: 3rem;
    font-style:italic;
    background-color: #e9f4fd;
}

header h1 {
    margin: 0.5rem;
}

nav a {
    color: black;
}

/*----------MAIN------------*/
main h2 {

    margin: 1.5rem;

}

/* INTRODUKTION */

main section.introduktion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px;
}

.text-intro {
    display: flex;
    flex-direction: column;
    max-width: 600px;

}

.billede {
    margin-right: 200px;
    display: flex;
    justify-content: flex-end;
}

/* UDDANNELSE */

main section.uddannelse {
    display: flex;
    flex-direction: column;
    background-color: #e9f4fd;
    padding: 100px;
}

section.uddannelse p {
    font-style: normal;
}

/* ERFARING */

main section.erfaring {
    display: flex;
    flex-direction: column;
    background-color: #C8E4FC;
    padding: 100px;
}

.erfaring {
    display: flex;
    justify-content: center;
}

.job-list {
    display: flex;
    flex-direction: row;
    gap: 100px;
    list-style: none;
    justify-content: space-between;
}

.job-list li {
    background-color: #e9f4fd;
    padding: 10px 60px;
    border: 1.5px solid black;
    border-radius: 15px;
}

.job-list li strong {
    display: block;
    margin-bottom: 0.2rem;
}

/* KONTAKT */

.kontakt {
    padding: 20px 100px;
    background-color: #e9f4fd;
    color: black;
}

.kontakt li {
    list-style: none;
}

.kontakt h2 {
    padding: 0 100px 0 0px;
}


.kontakt a:hover {
    color:white;
    text-decoration: underline;
}

/*----------FOOTER------------*/

.footer {
    display: flex;
    background-color: #e9f4fd;
    justify-content: end;
    padding: 0 20px 20px 0;
    font-style: normal;
}
